body
{ margin: 0pxl;
  background-color: #EAF6F6;
  text-align: center;
font-family: 'Merriweather', serif;
line-height:4px;
color: #40514E;
}
.//*top-container {background-color:red/*/ ;

}
.middle-container{
  background-color: yellow;
}
.bottom-container{
  background-color:#66BFBF;
}
title
{background-color: yellow;}
.cloud{
  position:relative;
  left:200px;}
.cloud2
{
  position: relative;
right:200px}
h1{margin: 50px, auto,0,auto;
  font-size: 90px;
font-family: 'Sacramento', cursive;
color: #66BFBF;
}
.civilengineerimage{width: 25%;
float: left;
margin-right: 30px;}
.caddimage{
  width: 25%;
  float: right;
  margin-left: 30px;
}
h2{  font-size: 2.5rem;
color: #66BFBF;
font-weight:normal;}
h3{color:  #11999E;}
.footer-link{
  color: #11999E;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto ;
  text-align: left;
  line-height: 2;
}
.hellodiscription{
  color: #40514E;
}
hr{
  border-style: dotted none none;
  border-width: 5px;
  width: 5%;
  border-color:#515E63;
}
.copyright{
  color: #EAF6F6;
}
.footer-link{
  color: #11999E;
}
.contact-me
{margin-top: 30px;}
.bottom-container{margin-top: 30px;
}
